body {
  margin: 0;
}

#game {
  background-color: #d9fa96;
  display: flex;
  padding: 6px;
  transition: 0.4s;
}

.text {
  width: auto;
  flex: auto;
}

#question {
  margin: 0;
  font-size: 14px;
}

#inputAnswer {
  margin-top: 6px;
  width: 30px;
}

#answer {
  font-size: 20px;
  font-weight: bold;
}

.textbox {
  display: flex;
}

.hint > h1 {
  font-size: 14px;
}

.hint {
  margin: 0;
  padding: 2px auto auto 2px;
  border: 1px solid black;
  flex: auto;
  border-radius: 8px;
}

.mistake > h1 {
  font-size: 14px;
}

.mistake {
  width: 140px;
  height: 300px;
  padding: 2px;
  border: 1px solid black;
  border-radius: 8px;
}

.HangMan {
  width: 250px;
  height: 420px;
}

.hidden {
  transform: translateY(-500px);
}

