body {
  margin: 0;
  position: relative;
}


#btn {
  font-size: 18px;
  margin: 10px;
  border-radius: 8px;
  transition: 0.4s;
}

.btnOn {
  background-color: #935e4b;
}

.btnOff {
  background-color: darkgray;
}

#btn.btnHidden{
  transform: translateY(50px);
  position: relative;
  z-index: -1;
}

#game {
  background-color: #d9fa96;
  display: flex;
  padding: 6px;
  transition: 0.4s;
  z-index: 1;
}

#game.hidden {
  transform: translateY(-500px);
}

.text {
  width: auto;
  flex: auto;
}

#question {
  margin: 0;
  font-size: 14px;
}

#inputBtn {
  font-size: 15px;
  margin: 2px;
  border-radius: 8px;
  background-color: burlywood;
}

#inputAnswer {
  margin-top: 6px;
  width: 30px;
}

#answer {
  letter-spacing: 0.15em;
  font-size: 20px;
  font-weight: bold;
}

.textbox {
  display: flex;
}

.hint > h1 {
  font-size: 14px;
}

.hint {
  margin: 0;
  padding: 2px auto auto 2px;
  border: 1px solid black;
  flex: auto;
  border-radius: 8px;
}

.mistake > h1 {
  font-size: 14px;
}

.mistake {
  width: 140px;
  height: 300px;
  padding: 2px;
  border: 1px solid black;
  border-radius: 8px;
}

.HangMan {
  width: 250px;
  height: 420px;
}

#result {
  position: absolute;
  margin: 20px auto;
}


