body {
  margin: 0;
  background-color: #ddca4d;
}

.iFrameHeader{
  width: 100%;
  margin: 0;
  height: 70px;
}

.iFrameBtn {
  margin: 0px 10px;
  height: 60px;
}

.iFrameGame {
  margin: 0;
  width: 100%;
  height: 550px;
}