/* PCとタブレットのレスポンシブデザイン */
@media (min-width: 671px){
  body {
    margin: 0;
    background-color: #ddca4d;
  }
  
  .iFrameHeader{
    width: 100%;
    margin: 0;
    height: 80px;
  }
  
  .iFrameGame {
    margin: 0;
    width: 100%;
    height: 700px;
  }
}


/* スマホのレスポンシブデザイン */
@media (max-width: 670px){
  body {
    margin: 0;
    background-color: #ddca4d;
  }
  
  .iFrameHeader{
    width: 100%;
    margin: 0;
    height: 80px;
  }
  
  .iFrameGame {
    margin: 0;
    width: 100%;
    height: 700px;
  }
}